PrakharTesting45/Connected Services/AgentDBService/WcfService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/PrakharWcfService45" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/PrakharWcfService45" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfTR_Agent">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TR_Agent" nillable="true" type="tns:TR_Agent" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTR_Agent" nillable="true" type="tns:ArrayOfTR_Agent" />
  <xs:complexType name="TR_Agent">
    <xs:sequence>
      <xs:element minOccurs="0" name="AgentName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Data" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TR_Agent" nillable="true" type="tns:TR_Agent" />
</xs:schema>