PrakharTesting45/Connected Services/AgentDBService/WcfService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="WcfService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://34.93.63.102/WCFService/WcfService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://34.93.63.102/WCFService/WcfService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://34.93.63.102/WCFService/WcfService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/PrakharWcfService45" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IWcfService_AgentData_InputMessage">
    <wsdl:part name="parameters" element="tns:AgentData" />
  </wsdl:message>
  <wsdl:message name="IWcfService_AgentData_OutputMessage">
    <wsdl:part name="parameters" element="tns:AgentDataResponse" />
  </wsdl:message>
  <wsdl:message name="IWcfService_UpdateAgentData_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateAgentData" />
  </wsdl:message>
  <wsdl:message name="IWcfService_UpdateAgentData_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateAgentDataResponse" />
  </wsdl:message>
  <wsdl:portType name="IWcfService">
    <wsdl:operation name="AgentData">
      <wsdl:input wsaw:Action="http://tempuri.org/IWcfService/AgentData" message="tns:IWcfService_AgentData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWcfService/AgentDataResponse" message="tns:IWcfService_AgentData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateAgentData">
      <wsdl:input wsaw:Action="http://tempuri.org/IWcfService/UpdateAgentData" message="tns:IWcfService_UpdateAgentData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWcfService/UpdateAgentDataResponse" message="tns:IWcfService_UpdateAgentData_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IWcfService" type="tns:IWcfService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AgentData">
      <soap:operation soapAction="http://tempuri.org/IWcfService/AgentData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateAgentData">
      <soap:operation soapAction="http://tempuri.org/IWcfService/UpdateAgentData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WcfService">
    <wsdl:port name="BasicHttpBinding_IWcfService" binding="tns:BasicHttpBinding_IWcfService">
      <soap:address location="http://34.93.63.102/WCFService/WcfService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>